<h1>Sign Up for a Fun Activity!</h1>
<%= form_for @signup do |f| %>
    <%= f.label :camper %>
    <%= f.collection_select :camper_id, Camper.all, :id, :name, prompt: true %>
    <br><br>
    <%= f.label :activity %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name, prompt: true %>
    <br><br>
    <%= f.label :time %>
    <%= f.select :time, 0..23 %>
    <br><br>
    <%= f.submit "Let's Go!" %>
<% end %>